@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #B0B8C3;  /* Mørkere grå for bedre kontrast */
  --foreground: #1B365D;  /* Mørk blå tekst for lesbarhet */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;  /* Mørk blå i mørk modus */
    --foreground: #000000;  /* Lys grå tekst for bedre kontrast */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, sans-serif;
}
