@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #cdc9c9;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; /* Fjern marginer for å unngå uventet spacing */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Sørg for at body tar opp hele høyden på vinduet */
}

main {
  flex: 1; /* Sørg for at innholdet i siden fyller plassen over footeren */
}

footer {
  background-color: #f3f4f6; /* Lys bakgrunn for footeren */
  color: #374151; /* Mørk tekst for kontrast */
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #d1d5db; /* Valgfri toppkant for visuell separasjon */
}
